.sidebar{
    height: 100%;
    position: absolute;
    width: 22%;
    background-color: var(--bege);
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
    & a{
        color: var(--marrom);
        font-family: 'Righteous' ;
        font-size: 1.2rem;
        padding: 0rem 2rem;
        display: flex;
        gap: 1.5rem;
        align-items: center;
    }
    & .navegacao{
        background-color: var(--cinza);
        margin: 0.5rem;
        border-radius: 1rem;
        height: 12%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
    }
    & .playlist{
        background-color: var(--cinza);
        margin: 0.5rem;
        border-radius: 1rem;
        height: 77%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        color: var(--marrom);
        & .biblioteca{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 4rem;
            margin: 2rem 0rem 1rem 0rem;
        }
    }
    & .recomendacoes{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin: 0rem 2rem;
        & li{
            background-color: var(--bege);
            border-radius: 2rem;
            color: var(--marrom);
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
        }
    }
    & .opcoes{        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        margin: 0rem 2rem;
        font-size: 0.8rem;
        & .scrollbar {
            height: 600px;
            width: 355px;
            overflow: auto;
            padding-right: 1.1rem;
            & .artista{
                display: flex;
                padding: 0.5rem 0rem;
                gap: 1rem;
                align-items: center;
                & img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                }
            }
            & .album{
                display: flex;
                padding: 0.5rem 0rem;
                gap: 1rem;
                & img{
                    width: 50px;
                    height: 50px;
                    border-radius: 0.2rem;
                }
            }
        }
    }
}
#scrollbar::-webkit-scrollbar {
    width: 10px;
}

#scrollbar::-webkit-scrollbar-track {
    background-color: #e7e7e700;
}

#scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--marrom-scroll);
}
@media screen and (max-width: 1900px) {
    .sidebar{
        width: 100%;
        position: fixed;
        & .navegacao{
            display: none;
        }
        & .playlist{
            display: none;
        }
        & .recomendacoes{
            display: none;
        }
        & .opcoes{        
            display: none;
        }
    }
}